@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.win{
    background-color: green;
}
.someExtra{
    transition: all 400ms;
}
.someExtra:hover{
transform: scale(120%);
    

}